.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.layout--left {
  width: 20%;
}

.layout--right {
  flex: 1;
}


.layout--right__top {
  height: 50px;
}

.layout--right__bottom {
  height: calc(100vh - 50px);
}

@media screen and (max-width: 768px) {
  .layout--left {
    width: 100%;
    z-index: 1;
  }

  .layout--right {
    width: 0;
  }
}